<div id="escuelavt" class="col-12 d-flex">
    <div class="row fila-flex">
        <a style="text-decoration:none" href="https://vtsas.co/megaupsostenible/mod/scorm/view.php?id=30">
            <div id="mod-1" class="ficha">
                <div class="title"><img class="icon" src="../theme/moove/pix/custom/icono_rueda.png">Módulo 1</div>
                <div class="img-curso"><img src="../theme/moove/pix/custom/08_economia.png"></div>
                <div class="description">
                    <div class="description-title">Descripción Módulo</div>
                    <div class="description-text">Presenta los fundamentos, características y buenas prácticas que las empresas pueden desarrollar para crear nuevos modelos circulares y sostenibles.
                    </div>
                </div>
                <div class="status">Completado</div>
            </div>
        </a>
        <!-- <a style="text-decoration:none" href="https://vtsas.co/megaupsostenible/mod/scorm/view.php?id=28">
            <div id="mod-2" class="ficha">
                <div class="title"><img class="icon" src="../theme/moove/pix/custom/icono_rueda.png">Módulo 2</div>
                <div class="img-curso"><img src="../theme/moove/pix/custom/08_economia.png"></div>
                <div class="description">
                    <div class="description-title">Descripción Módulo</div>
                    <div class="description-text">Presenta los fundamentos, características y buenas prácticas que las empresas pueden desarrollar para crear nuevos modelos circulares y sostenibles.
                    </div>
                </div>
                <div class="status">Completado</div>
            </div>
        </a> -->
        <!-- <a style="text-decoration:none" href="https://vtsas.co/megaupsostenible/mod/scorm/view.php?id=14">
            <div id="mod-3" class="ficha">
                <div class="title"><img class="icon" src="../theme/moove/pix/custom/icono_rueda.png">Módulo 3</div>
                <div class="img-curso"><img src="../theme/moove/pix/custom/08_economia.png"></div>
                <div class="description">
                    <div class="description-title">Descripción Módulo</div>
                    <div class="description-text">Presenta los fundamentos, características y buenas prácticas que las empresas pueden desarrollar para crear nuevos modelos circulares y sostenibles.
                    </div>
                </div>
                <div class="status">Completado</div>
            </div>
        </a> -->
        <!-- <a style="text-decoration:none" href="https://vtsas.co/megaupsostenible/mod/scorm/view.php?id=15">
            <div id="mod-4" class="ficha">
                <div class="title"><img class="icon" src="../theme/moove/pix/custom/icono_rueda.png">Módulo 4</div>
                <div class="img-curso"><img src="../theme/moove/pix/custom/08_economia.png"></div>
                <div class="description">
                    <div class="description-title">Descripción Módulo</div>
                    <div class="description-text">Presenta los fundamentos, características y buenas prácticas que las empresas pueden desarrollar para crear nuevos modelos circulares y sostenibles.
                    </div>
                </div>
                <div class="status">Completado</div>
            </div>
        </a> -->
    </div>
</div>