#parallax
    .layer
        background-repeat no-repeat
        background-size contain
        background-position center
        margin-top -1%
        width 102%
        height 102%
        
        &.a0
            background-image url(../img/parallax0.png)
        &.a1
            background-image url(../img/parallax1.png)
        &.a3
            background-image url(../img/parallax3.png)
        &.a4
            background-image url(../img/parallax4.png)
            
.coo-instrucciones
    &.coo-instructions
        background-image url('../img/instructions.png') !important

#pt-page-1 .coo-text-title1 img {
    width: 500px !important;
}

#pt-page-1 .coo-text-title1 small {
    display: block;
    font-size: 0.6em;
    text-transform: uppercase;
} 
	
.owl-theme .owl-nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #484848;
    background-image: url('../img/itemfondo.png');
    background-repeat: no-repeat;
    background-size: 50% 19%;
    background-position: center 89%;
    min-height: 340px;
}

.owl-item {
    transition: 0.5s all ease-out;
}
.owl-item.center {
    opacity: 1;
    cursor: pointer;
}

.owl-item:not(.center) {
    opacity: 0.9;
}

.item h2 {
    color: #006633;
    text-align: center;
    margin: 0 0 5px 0;
    display: block;
}

.item img {
    margin-bottom: 10px;
    width: 100%;
    display: block;
}

.item span {
    display: flex;
    font-size: 16px;
    padding: 10px 0;
    font-family: 'Nunito-italic', sans-serif;
    text-align: center;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #0A6CB4;
    margin-bottom 10px
}

.banner .img {
    max-width: 400px;
    width: 100%;
    margin-bottom: 0px;
}

.banner .img img {
    width: 100%;
}

.banner h1 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    padding: 10px 0 0 0;
}

#navArrows {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navArrows .left,
#navArrows .right {
    width: 70px;
    cursor: pointer;
}

#navArrows .left img,
#navArrows .right img {
    width: 100%;
}

#navArrows .right {
    transform: rotate(-180deg);
}

.owl-theme .owl-nav [class*=owl-] {
    background: transparent !important;
}

#pt-page-1
    .lnt-popup-wrapper
        background-color transparent

.minimunStories
    position absolute
    top 360px
    left 280px
    width 300px
    button
        margin-right 10px