* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    font-style: normal;
    overflow: hidden;
    /* background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color:transparent;
    min-width: 850px
}

iframe {
    border: none
}

.jspContainer .jspVerticalBar {
    background-color: rgba(255, 255, 255, 0.2);
    right: 8px;
    width: 1px
}

.jspContainer .jspTrack {
    background-color: transparent
}

.jspContainer .jspDrag {
    background-color: #bec4b3;
    border-radius: 10px;
    transition: .35s opacity ease;
    transition-delay: .2s;
    left: -4px;
    width: 8px
}

.animated {
    opacity: 0
}

.bounceInRight,
.bounceInLeft,
.bounceInDown,
.bounceInUp,
.zoomIn,
.zoomInDown {
    opacity: 1 !important
}

.coo-img-marco {
    width: 100%;
    padding: 10px 10px 40px 10px;
    box-shadow: 5px 5px 5px #888;
    background-color: #e2e2e2;
}

.coo-img-marco .coo-img-text {
    font-size: 22px;
    padding-top: 10px;
    text-align: center
}

.coo-img-marco .coo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.coo-img-marco .coo-img img {
    width: 100%
}

.coo-img-marco .coo-img span {
    color: #e2e2e2;
    font-size: 100px;
    position: absolute
}

.coo-coverpage {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    transition: right ease .7s;
    opacity: 1;
}

.coo-coverpage .coo-coverpage-sello {
    width: 200px;
    position: absolute;
    top: 15%;
    right: 5%;
}

.coo-coverpage .coo-coverpage-sello img {
    width: 100%
}

.coo-coverpage .coo-coverpage-box {
    position: absolute;
    z-index: 11;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 30%;
    background-color: #fff;
    padding: 30px 40px 10px 40px;
}

.coo-coverpage .coo-coverpage-box h4 {
    font-size: 72px;
    color: #0f3e66;
    font-family: 'Montserrat-Regular';
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: uppercase;
    display: none
}

.coo-coverpage .coo-coverpage-box p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #0f3e66;
    font-size: 30px;
    font-size: 'Montserrat-Regular';
    display: none
}

#coo-flexible-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#coo-flexible-box .coo-full-template {
    padding: 20px 60px 0;
    width: 1366px;
    height: 768px;
    overflow: hidden;
    position: absolute;
}

#coo-flexible-box .coo-full-template .coo-full-book {
    border-radius: 0 0 3px 3px;
    height: 100%;
    width: 100%;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header {    
    height: 60px;
    width: 100%;
    margin: auto;
    letter-spacing: -1px;
    position: relative;
    z-index: 1;
    display: none;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header div {
    display: block;
    height: 60px
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-logo {
    background-image: url(../img/logo.png), url(../img/header_logo2.png);
    background-position: 100px center, 13px 0;
    background-repeat: no-repeat;
    background-size: 141px, cover;
    display: inline-block;
    height: 125%;
    left: 0;
    letter-spacing: normal;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 356px;
    white-space: normal;
    word-spacing: normal;
    z-index: 2;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-title {
    background-color: transparent;
    display: inline-block;
    height: 100%;
    letter-spacing: normal;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    width: 100%;
    white-space: normal;
    word-spacing: normal;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-title h3 {
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat-Regular';
    margin: 13px 0
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-full-menu {
    height: 100%;
    letter-spacing: normal;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 185px;
    white-space: normal;
    word-spacing: normal;
    z-index: 2;
    padding-left: 20px;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-full-menu .coo-corner-menu {
    display: inline-block;
    vertical-align: top;
    border-bottom: 70px solid #0f3e66;
    border-left: 15px solid #fff
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-full-menu .coo-items-menu {
    display: inline-block;
    vertical-align: top;
    width: 170px;
    padding-left: 5.5px;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-header .coo-full-menu .coo-items-menu .coo-options-full-menu {
    background: #fff;
    border-radius: 50%;
    color: #006633;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 5px;
    margin-left: auto
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-hide-content-menu {
    padding: 0
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-show-content-menu {
    padding: 5px 10px
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-content-menu {
    background: rgba(7, 53, 77, 0.88);
    color: #fff;
    display: none;
    font-size: 15px;
    height: 79.2%;
    padding: 5px 10px;
    position: absolute;
    right: 80px;
    top: 80px;
    width: 320px;
    z-index: 1;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-content-menu ul {
    margin-top: 60px;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-content-menu ul li {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-content-menu ul li span:nth-child(2) {
    padding-left: 10px
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-content-menu ul li:hover {
    color: #ffa500
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main {
    margin-top: 25px;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav {
    height: 50px;
    margin: 5px auto;
    width: 97%;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav {
    display: inline-block;
    width: 92%;
    height: 100%;
    vertical-align: top;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-arrows {
    display: inline-block;
    vertical-align: top;
    width: 7%;
    height: 100%;
    background-image: url("../img/nav-arrow.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    cursor: pointer;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-arrows div.dl-menu {
    width: 100%;
    height: 100%;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-arrows div.dl-menu ul.dl-menu {
    width: 100%;
    height: 100%;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-arrows div.dl-menu ul.dl-menu li {
    width: 100%;
    height: 100%;
    list-style: none
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-arrow-left {
    transform: rotate(180deg)
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-arrow-blocked {
    opacity: .7;
    cursor: default !important
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress {
    display: inline-block;
    vertical-align: top;
    width: 83%;
    height: 100%;
    padding-top: 15px;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar {
    counter-reset: step;
    width: 100%;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li {
    list-style-type: none;
    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #949494;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li:before {
    width: 15px;
    height: 15px;
    content: "";
    line-height: 40px;
    display: block;
    margin: auto;
    border-radius: 50%;
    background-color: #949494
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #949494;
    top: 40%;
    left: -50%;
    z-index: -1
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li:first-child:after {
    content: none
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li.coo_progress_active {
    color: #fff
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li.coo_progress_active:before {
    background: #fff
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-elements-nav .coo-progress .coo_progress_progressbar li.coo_progress_active+li:after {
    background-color: #fff
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-page-nav {
    display: inline-block;
    width: 7%;
    height: 100%;
    vertical-align: top;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-page-nav .coo-page {
    width: 45px;
    height: 45px;
    border: 1px solid #76838c;
    padding: 3px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-show-nav .coo-page-nav .coo-page span {
    width: 100%;
    height: 100%;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content {
    /* background-color: #fff; */
    display: flex;
    height: 78%;
    margin: 0 20px;
    position: relative; 
    background-size: 5%;
    background-position: 99% 98%;
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content .coo-dflex-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content .coo-flex-dr {
    flex-direction: row
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content .coo-flex-dc {
    flex-direction: column
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content .coo-title-tema {
    font-family: 'Montserrat-Regular';
    font-size: 56px;
    margin-bottom: 5px;
    color: #95a5b9;
    text-transform: uppercase
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content .coo-title-subtema {
    font-family: 'Montserrat-Regular';
    font-size: 40px;
    margin-bottom: 10px;
    color: #2c4b74;
    text-transform: uppercase
}

#coo-flexible-box .coo-full-template .coo-full-book #pt-main .pt-page .coo-page-content .coo-video {
    cursor: pointer
}

#coo-flexible-box .coo-full-template .coo-full-book [class*='coo-column-'] {
    float: left;
}

#coo-flexible-box .coo-full-template .coo-full-book [class*='coo-column-'] img {
    width: 70%;
    margin-left: 35px;
    margin-top: 10px;
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-12-12 {
    width: 100%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-11-12 {
    width: 91.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-10-12 {
    width: 83.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-9-12 {
    width: 75%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-8-12 {
    width: 66.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-7-12 {
    width: 58.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-6-12 {
    width: 50%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-5-12 {
    width: 41.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-4-12 {
    width: 33.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-3-12 {
    width: 25%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-2-12 {
    width: 16.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-1-12 {
    width: 8.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-11-12 {
    margin-left: 91.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-10-12 {
    margin-left: 83.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-9-12 {
    margin-left: 75%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-8-12 {
    margin-left: 66.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-7-12 {
    margin-left: 58.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-6-12 {
    margin-left: 50%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-5-12 {
    margin-left: 41.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-4-12 {
    margin-left: 33.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-3-12 {
    margin-left: 25%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-2-12 {
    margin-left: 16.66%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-push-column-1-12 {
    margin-left: 8.33%
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-column-center {
    position: absolute;
    top: 50%;
    left: 6.25%;
    transform: translate(-12.5%, -50%)
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-btn-default {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    transform: skew(-20deg)
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-btn-blue1 {
    background-color: #005cb8;
    color: #fff
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-btn-blue2 {
    background-color: #00a8e9;
    color: #fff
}

#coo-flexible-box .coo-full-template .coo-full-book .coo-btn-brown {
    background-color: #523c39;
    color: #fff
}

.lnt-video {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.lnt-video iframe {
    border: none;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}

.dflex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.dflex-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%
}

.dflex-ch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82%
}

.dnone {
    display: none
}

.coo-padpop-video {
    padding: 3em 1em 5em !important
}

.content-pop {
    width: 100%;
    padding: 30px 40px;
}

.content-pop .col-pop-1 {
    width: 100%;
    float: left
}

.content-pop .col-pop-2 {
    width: 50%;
    float: left;
    padding-right: 5px;
    padding: 20px
}

.coo-text-title1 {
    font-family: 'Montserrat-Regular';
    font-size: 42px;
    padding: .3em;
    text-align: center;
    width: 100%;
}
.categories {
    position: absolute;
    top:0px;
}

.coo-text-title1.coo-color-darkblue {
    background: url(../img/title1-pd.png) no-repeat;
    background-position: center;
    background-size: 53% 110%;
    position: relative;
    top: -15px;
    color: #fff;
}

.coo-text-title1.coo-color-blue {
    color: #fff;
    /*background-color: #006633;*/
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.5em;
    width: 620px;
    text-align: center;
    position: relative;
}

.coo-text-title2 {
    font-family: 'Montserrat-Regular';
    font-size: 26px;
    margin-bottom: 15px
}

.coo-text-title3 {
    font-family: 'Montserrat-Regular';
    font-size: 22px;
    margin-bottom: 15px
}

.coo-text,
p {
    margin: 0 5px 10px 5px
}

.coo-title-pad {
    padding-top: 20px
}

.coo-text-center {
    text-align: center
}

.coo-text-justify {
    text-align: justify
}

.coo-text-left {
    text-align: left
}

.coo-text-right {
    text-align: right
}

.coo-color-white {
    color: #fff
}

.coo-color-gray {
    color: #cecdcd
}

.coo-color-darkblue {
    color: #0f3e66
}

.coo-color-blue {
    color: #006ec7
}

.coo-color-lightblue {
    color: #00a8e9
}

.coo-color-black {
    color: #373435
}

.coo-color-brown {
    color: #523c39;
    font-size: 30px
}

#boxItemTime {
    background: #eee;
    border-radius: 5px;
    padding: .5em;
    width: 360px;
    position: absolute;
    opacity: 0;
}

#boxItemTime .header img {
    width: 70px
}

#boxItemTime .header span {
    font-size: 1.2em;
    font-weight: bold
}

#boxItemTime .left,
#boxItemTime .right {
    display: inline-block;
    width: 49%;
    vertical-align: middle
}

#boxItemTime .right img {
    width: 100%
}

#boxItemTime .timefoto {
    width: 60px;
}

#boxItemTime .timefoto img {
    width: 100%
}

#boxItemTime .timetexto {
    font-size: 15px;
    margin-left: 1em;
    width: 300px
}

.coo-column-h-flex {
    height: 86%
}

.coo-column-h-flex100 {
    height: 100%
}

.highlight {
    font-weight: bold;
    color: #405b6b
}

.pasado .coo-page-content {
    background-image: url("../img/footer_logo.png"), url("../img/backpasado.png") !important;
    background-repeat: no-repeat !important;
    background-size: 5%, contain !important;
    background-position: 99% 98%, 0 0 !important
}

.pasado .coo-column-esquinas {
    background-image: url("../img/esquinaderecha.png"), url("../img/esquinaizquierda.png");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 100% 0, 0 100%
}

.pasado .content-pop {
    background-image: url("../img/backpasado.png");
    background-repeat: no-repeat;
    background-size: cover
}

.presente .coo-page-content {
    background-image: url("../img/backpresente.png") !important;
    background-repeat: no-repeat !important;
    background-size: 5%, contain !important;
    background-position: 99% 98%, 0 0 !important
}

.presente .coo-column-esquinas {
    background-image: url("../img/esquinaderecha.png"), url("../img/esquinaizquierda.png");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 100% 0, 0 100%
}

.presente .content-pop {
    background-image: url("../img/backpresente.png");
    background-repeat: no-repeat;
    background-size: cover
}

.coo-instrucciones {
    background-image: url("../img/instrucciones.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
}

.coo-instrucciones .coo-close-intro {
    width: 35px;
    height: 35px;
    color: #fff;
    position: absolute;
    top: 16px;
    right: 14px;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer
}

#coo-btn-cerrar {
    position: absolute !important;
    top: 345px;
    right: 96px;
}

#coo-btn-cerrar:active {
    top: none !important
}