body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
footer img{
    float: right;
}